<ion-view view-title="User">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <div class="list">
      <label class="item item-input">
        <input name="email" type="email" placeholder="E-Mail" ng-model="ctrl.credentials.email">
      </label>
      <label class="item item-input">
        <input name="password" type="password" placeholder="Password" ng-model="ctrl.credentials.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-outline button-stable"
        ng-click="ctrl.signup()">
        Sign up
      </button>
      <button class="button button-block button-outline button-positive"
        ng-click="ctrl.signin()">
        Sign in
      </button>
    </div>
    <div class="list" ng-if="ctrl.user.resultType">
      <ion-item class="item item-divider">{{ctrl.user.resultType}} for {{ctrl.user.email}}:</ion-item>
      <ion-item class="item item-text-wrap">
        <pre>{{ctrl.user.result | json}}</pre>
      </ion-item>
    </div>

  </ion-content>
</ion-view>
